<?php get_header(); ?>

body#page-404

	div
		.message-404
			img(src="/wp-content/themes/portfolio/img/ouch.gif" alt="Animated GIF of Taylor Swift getting hit with a basketball.")
		.message-404
			div
				h2 404 - Page Not Found
				p Sorry, this is not a valid page. 
				br
				p
					a.text-link(href="/") 
						i.icon.icon-arrow-left(aria-hidden="true", style="padding-right: 8px;")
						| Return to jendowns.com


<?php get_footer(); ?> 
