
body#home
  
  nav.navbar(style="display: none;")
    .flex-grid
      .col.nav-left
        a(href="/")
          span.nav-heading Jen Downs

      .col.nav-right
        ul
          li
            a.text-link(href='/#posts') Thoughts
          li
            a.text-link(href='/#work') Projects
          li
            a.text-link(href='/#contact') Contact

  header
    .flex-grid
      .col
        span.site-heading Jen Downs <?php print_r(is_child_theme()); ?>
        span.site-heading Front-end developer
  
  section#posts
    .section-head
      .flex-grid
        .col
          span.section-heading Thoughts
    .section-body
      
      <?php include 'part-post-card.php';?>

      article
        .flex-grid
          .col
            .card
              a(href='/wordpress-sidebar', target='_blank')
                h2 Creating a Sidebar of Categories and Posts in WordPress
              span.date October 20, 2016
              p I wrote about using PHP to generate a side navigation menu, with categories as dropdown triggers and posts as dropdown list items. By reimagining my data as a multi-level array, I was able iterate through a mixed collection of categories, posts within categories, subcategories, and posts within subcategories to populate the sidebar dynamically.
              p.cta
                a.btn(href='/wordpress-sidebar', target='_blank') 
                  | Read More &nbsp;
                  i.icon.icon-open(aria-hidden="true") 
      article
        .flex-grid
          .col
            .card
              a(href='/unity-arcade-game', target='_blank')
                h2 2D Arcade Game in JavaScript with Unity 5
              span.date April 1, 2016
              p Using the Unity 5 engine, I made a 2D arcade game. And it's written in JavaScript! (Well, Unity's flavor of JavaScript.) I wrote an article for The Recompiler about how I made this game, including my planning and some of the trickier development challenges.
              p.cta
                a.btn(href='/unity-arcade-game', target='_blank') 
                  | Read More &nbsp;
                  i.icon.icon-open(aria-hidden="true") 
  
  section#work
    .section-head
      .flex-grid.half
        .col
          span.section-heading Projects
          .card
            p Here are a few examples of my work.
            p Other projects are on  
              a(href='https://github.com/jendowns/', target='_blank', class='text-link') my GitHub
              | .
    .section-body
      .flex-grid
        .col
          .project-wrapper
            .toolbar
              .toolbar-title Blog
              .square.minimize
                i.icon.icon-minimize(aria-hidden="true") 
                i.icon.icon-maximize.hidden(aria-hidden="true") 
              .square.next
                i.icon.icon-arrow-right(aria-hidden="true")              
              .square.prev
                i.icon.icon-arrow-left(aria-hidden="true") 
            a(href="http://www.wearemammoth.com/blog", target="_blank")
              .project-image-wrapper
                img.faded-in(src="/wp-content/themes/portfolio/img/example-wam-1.png")
                img(src="/wp-content/themes/portfolio/img/example-wam-2.png")
        .col
          .project-wrapper
            .toolbar
              .toolbar-title Meal Plan Site (Design)
              .square.minimize
                i.icon.icon-minimize(aria-hidden="true") 
                i.icon.icon-maximize.hidden(aria-hidden="true")
            a(href="/wp-content/themes/portfolio/img/example-dash.png", target="_blank")
              .project-image-wrapper
                img.faded-in(src="/wp-content/themes/portfolio/img/example-dash.png")
        .col
          .project-wrapper
            .toolbar
              .toolbar-title Artist Gallery
              .square.minimize
                i.icon.icon-minimize(aria-hidden="true") 
                i.icon.icon-maximize.hidden(aria-hidden="true") 
              .square.next
                i.icon.icon-arrow-right(aria-hidden="true")              
              .square.prev
                i.icon.icon-arrow-left(aria-hidden="true") 
            a(href="http://jessiedowns.com", target="_blank")
              .project-image-wrapper
                img.faded-in(src="/wp-content/themes/portfolio/img/example-jessie-1.png")
                img(src="/wp-content/themes/portfolio/img/example-jessie-2.png")
      .flex-grid.half
        .col
          .project-wrapper
            .toolbar
              .toolbar-title Email Templates
              .square.minimize
                i.icon.icon-minimize(aria-hidden="true") 
                i.icon.icon-maximize.hidden(aria-hidden="true") 
            a(href="https://github.com/jendowns/email-layouts", target="_blank")
              .project-image-wrapper
                img.faded-in(src="/wp-content/themes/portfolio/img/email-animation-2.gif")
        .col
          .project-wrapper
            .toolbar
              .toolbar-title 2D Game
              .square.minimize
                i.icon.icon-minimize(aria-hidden="true") 
                i.icon.icon-maximize.hidden(aria-hidden="true") 
            a(href="https://github.com/jendowns/2d-unity-hopper", target="_blank")
              .project-image-wrapper
                img.faded-in(src="/wp-content/themes/portfolio/img/hopper.png")
  
  section#contact
    .section-head
      .flex-grid
        .col
          span.section-heading Contact Me
        .col.card
          p You can reach me at 
            a(href='mailto:hello@jendowns.com', class='text-link') hello@jendowns.com
          p Or you can use the form below.
          #overlay-container
            <?php echo do_shortcode('[contact-form-7 id="7" title="Contact Form"]'); ?>
  
  footer
    .section-body
      .flex-grid
        .col.align-left
          p
            small &copy; 2016 Jen Downs. 
            small Made with 
              i.icon.icon-heart
              |  in Austin, TX.
            br
            small Palette inspired by  
              a(href='http://www.vanschneider.com/colors/', target='_blank', class='text-link') ColorClaim
              | .
        .col.align-right.sm-icons
          a(href='https://www.twitter.com/jenisora', target='_blank', title='Twitter')
            i.icon.icon-twitter(aria-hidden="true") 
          a(href='https://www.linkedin.com/in/jendowns', target='_blank', title='LinkedIn')
            i.icon.icon-linkedin2(aria-hidden="true")    
          a(href='https://www.github.com/jendowns', target='_blank', title='GitHub')
            i.icon.icon-github(aria-hidden="true") 

  script(src='/wp-content/themes/portfolio/js/util.js' type='text/javascript')
  script(src='/wp-content/themes/portfolio/js/home.js' type='text/javascript')
  script(type='text/javascript').
    
    jQuery.noConflict();
    (function($){
      var on_scroll = debounce(function toggle_hidden_navbar(){
          if ($(window).scrollTop() > 205) {
            $('.navbar').fadeIn();
          } else {
            $('.navbar').fadeOut();
          }
      }, 150);

      $(window).scroll(on_scroll);
    })(jQuery);

  <?php get_footer(); ?> 

    