
body
  
  header
    .flex-grid
      .col
        span.site-heading Jen Downs
        span.site-heading Front-end developer
  
  section#posts
    .section-head
      .flex-grid
        .col
          span.section-heading My posts
    .section-body
      article
        .flex-grid
          .col
            .card
              h2 Creating a Sidebar of Categories and Posts in WordPress
              h3 October 20, 2016
              p I wrote about using PHP to generate a side navigation menu, with categories as dropdown triggers and posts as dropdown list items.
              p.cta
                a.btn(href='/wordpress-sidebar', target='_blank') 
                  | Read More &nbsp;
                  i.fa.fa-external-link
      article
        .flex-grid
          .col
            .card
              h2 2D Arcade Game in JavaScript with Unity 5
              h3 April 1, 2016
              p Using the Unity 5 engine, I made a 2D arcade game. And it's written in JavaScript! (Well, Unity's
                em  flavor 
                | of JavaScript.) I wrote an article for The Recompiler about how I made this game, including my planning and some of the trickier development challenges.
              p.cta
                a.btn(href='/unity-arcade-game', target='_blank') 
                  | Read More &nbsp;
                  i.fa.fa-external-link
  
  section#work
    .section-head
      .flex-grid.half
        .col
          span.section-heading My work
          .card
            p Here are a few examples of my work.
            p Other projects are on  
              a(href='https://github.com/jendowns/', target='_blank', class='text-link') my GitHub
              | .
    .section-body
      .flex-grid
        .col
          .project-wrapper
            .toolbar
              .toolbar-title Blog
              a(href="http://www.wearemammoth.com/blog", target="_blank")
                .square
                  .fa.fa-external-link(aria-hidden="true")
              .square.minimize
                .fa.fa-window-minimize(aria-hidden="true")
                .fa.fa-window-maximize.hidden(aria-hidden="true")
            a(href="http://www.wearemammoth.com/blog", target="_blank")
              .project-image-wrapper
                img(src="/wp-content/themes/portfolio/img/example-wam-1.png")
                img.reveal-on-hover(src="/wp-content/themes/portfolio/img/example-wam-2.png")
        .col
          .project-wrapper
            .toolbar
              .toolbar-title Artist Gallery
              a(href="http://jessiedowns.com", target="_blank")
                .square
                  .fa.fa-external-link(aria-hidden="true")
              .square.minimize
                .fa.fa-window-minimize(aria-hidden="true")
                .fa.fa-window-maximize.hidden(aria-hidden="true")
            a(href="http://jessiedowns.com", target="_blank")
              .project-image-wrapper
                img(src="/wp-content/themes/portfolio/img/example-jessie-1.png")
                img.reveal-on-hover(src="/wp-content/themes/portfolio/img/example-jessie-2.png")
      .flex-grid.half
        .col
          .project-wrapper
            .toolbar
              .toolbar-title Email Templates
              a(href="https://github.com/jendowns/email-layouts", target="_blank")
                .square
                  .fa.fa-external-link(aria-hidden="true")
              .square.minimize
                .fa.fa-window-minimize(aria-hidden="true")
                .fa.fa-window-maximize.hidden(aria-hidden="true")
            a(href="https://github.com/jendowns/email-layouts", target="_blank")
              .project-image-wrapper
                img(src="/wp-content/themes/portfolio/img/email-animation-2.gif")
        .col
          .project-wrapper
            .toolbar
              .toolbar-title 2D Game
              a(href="https://github.com/jendowns/2d-unity-hopper", target="_blank")
                .square
                  .fa.fa-external-link(aria-hidden="true")
              .square.minimize
                .fa.fa-window-minimize(aria-hidden="true")
                .fa.fa-window-maximize.hidden(aria-hidden="true")
            a(href="https://github.com/jendowns/2d-unity-hopper", target="_blank")
              .project-image-wrapper
                img(src="/wp-content/themes/portfolio/img/hopper.png")
  
  section#contact
    .section-head
      .flex-grid
        .col
          span.section-heading Contact me
        .col.card 
          p You can reach me at 
            a(href='mailto:hello@jendowns.com', class='text-link') hello@jendowns.com
          p Or you can use the form below.
          #overlay-container
            .overlay.overlay-loading.hidden
              p
                i.fa.fa-spinner.fa-spin
            .overlay.overlay-thanks.hidden
              p
                span thank you
            <?php echo do_shortcode( '[contact-form-7 id="7" title="Contact Form"]' ); ?>
  
  footer
    .section-body
      .flex-grid
        .col.align-left
          p
            small &copy; 2016 Jen Downs.
            br
            small Palette via 
              a(href='http://www.vanschneider.com/colors/', target='_blank', class='text-link') ColorClaim
        .col.align-right.sm-icons
          a(href='https://www.twitter.com/jenisora', target='_blank', title='Twitter')
            i.fa.fa-twitter(aria-hidden="true")
          a(href='https://www.linkedin.com/in/jendowns', target='_blank', title='LinkedIn')
            i.fa.fa-linkedin(aria-hidden="true")    
          a(href='https://www.github.com/jendowns', target='_blank', title='GitHub')
            i.fa.fa-github(aria-hidden="true")

  
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js', type='text/javascript')
  script(type='text/javascript').
    // check if this page load was a post-back
    if(decodeURIComponent(window.location.hash).toLowerCase() === '#contact'){
      // only reveal "thank you" message if the form passed server-side validation(s)
      if(!$('form.wpcf7-form').hasClass('invalid'))
        $("#overlay-container .overlay-thanks").removeClass("hidden");
    }

    $("#contact .wpcf7-form").submit(function(event) {
      $("#overlay-container .overlay-loading").removeClass("hidden");
    });
    $(".square.minimize").on("click", function(){
      var elem = $(this).parents(".project-wrapper");
      $(elem).toggleClass("collapsed");
      $(this).find(".fa-window-maximize, .fa-window-minimize").toggleClass("hidden");
    });
    if (navigator.userAgent.indexOf('Mac OS X') != -1) {
      window.location.hash = "👾👾👾";
    }
    

