doctype html
html
  head
    title Jen Downs: Front End Developer
    meta(content='IE=edge,chrome=1', http-equiv='X-UA-Compatible')
    meta(content-type='text/html', charset='utf-8')    
    meta(content='width=device-width, initial-scale=1.0', name='viewport')    
    meta(content='Jen Downs - Front End Web Developer in Austin, TX.', name='Description')
    meta(content='YkqMlmZyGys4qjwOT4Dg1JbhRuOO_-kNB3-n94eIFV8', name='google-site-verification')
    meta(content='noarchive,noimageindex', name='robots')
    meta(content='NOODP', name='googlebot')
    meta(content='nositelinkssearchbox', name='google')
    meta(content='notranslate', name='google')
    
    link(href='https://fonts.googleapis.com/css?family=PT+Mono|Source+Sans+Pro:400,400i,700,700i', rel='stylesheet', type='text/css')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='main.min.css', rel='stylesheet', type='text/css')
    link(rel='shortcut icon', href='favicon.png', type='image/x-icon') 
  body
    section
      .flex-grid
        .col
          span.headline Jen
          span.headline Downs
    section
      .flex-grid
        .col
          p.pseudo-code // front-end developer at 
            a(href="http://wearemammoth.com", target="_blank") We Are Mammoth
    section
      article
        .flex-grid
          .col
            h2 Creating a Sidebar of Categories and Posts in WordPress
            h3 October 20, 2016
            p I wrote about using PHP to generate a side navigation menu, with categories as dropdown triggers and posts as dropdown list items.
            p
              a.btn(href='http://wearemammoth.com/2016/10/wordpress-tutorial-generating-sidebar-categories-posts', target='_blank') 
                | Read More &nbsp;
                i.fa.fa-external-link
      article
        .flex-grid
          .col
            h2 2D Arcade Game in JavaScript with Unity 5
            h3 April 1, 2016
            p Using the Unity 5 engine, I made a 2D arcade game. And it's written in JavaScript! (Well, Unity's
              em  flavor 
              | of JavaScript.) I wrote an article for The Recompiler about how I made this game, including my planning and some of the trickier development challenges.
            p
              a.btn(href='https://recompilermag.com/issues/issue-3/creating-a-2d-arcade-game-with-javascript-in-unity-5/', target='_blank') 
                | Read More &nbsp;
                i.fa.fa-external-link
    section
      .flex-grid-third#contact
        .col
          a(href='https://www.twitter.com/jenisora', target='_blank', title='Twitter')
            i.fa.fa-twitter
        .col
          a(href='mailto:hello@jendowns.com')
            i.fa.fa-paper-plane-o 
        .col     
          a(href='https://www.github.com/jendowns', target='_blank', title='GitHub')
            i.fa.fa-github    
    section
      footer
        .flex-grid
          .col
            small &copy; 2016 Jen Downs. Palette via 
              a(href='http://www.vanschneider.com/colors/', target='_blank') ColorClaim