<?php get_header(); ?>

body#single-post

	nav
		.flex-grid
			.col.nav-left
				a(href="/")
					span.nav-heading Jen Downs
			.col.nav-right
				ul
					li
						a.text-link(href='/') Home
					li
						a.text-link(href='/#work') Projects
					li
						a.text-link(href='/#contact') Contact

	section#posts
		.section-body
			.flex-grid
				.col.align-left
					h2 <?php the_title(); ?>
					span.date <?php echo get_the_date("F j, Y"); ?>
					.post-content
						<?php while (have_posts()) : the_post(); the_content(); endwhile; ?>


	footer
		.section-body
			.flex-grid
				.col.align-left
					p
						small &copy; 2016 Jen Downs.
						br
						small Palette via 
							a(href='http://www.vanschneider.com/colors/', target='_blank', class='text-link') ColorClaim
				.col.align-right.sm-icons
					a(href='https://www.twitter.com/jenisora', target='_blank', title='Twitter')
						i.icon.icon-twitter(aria-hidden="true") 
					a(href='https://www.linkedin.com/in/jendowns', target='_blank', title='LinkedIn')
						i.icon.icon-linkedin2(aria-hidden="true")    
					a(href='https://www.github.com/jendowns', target='_blank', title='GitHub')
						i.icon.icon-github(aria-hidden="true") 

	script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js', type='text/javascript')
	script(src='/wp-content/themes/portfolio/js/util.js' type='text/javascript')
	script(src='/wp-content/themes/portfolio/js/home.js' type='text/javascript')


	<?php get_footer(); ?> 


