<?php get_header(); ?>

<body <?php body_class(); ?>>

	div(style="max-width: 500px; margin: 20px auto;")
		.center
			<img src="<?php echo get_template_directory_uri(); ?>/images/pbg.gif" alt="Princess Bubblegum from the cartoon 'Adventure Time' flipping a table in anger.">
		.center
			h2.center 404 - Page Not Found
			p.center Sorry, this is not a valid page. 
			br
			p.center
				a.text-link(href="/") 
					i.icon.icon-arrow-left(aria-hidden="true", style="padding-right: 8px;")
					| Return to jendowns.com


<?php get_footer(); ?> 
