<?php get_header(); ?>

  <body <?php body_class(); ?>>

    header
      .container
        h1 Jen Downs
        h2 Front-end developer
        ul
          li
            a(href='https://www.twitter.com/jenisora', target='_blank', title='Twitter')
              i.icon.icon-twitter(aria-hidden="true") 
              span.screen-reader Twitter
          li    
            a(href='https://www.codepen.io/jendowns', target='_blank', title='Codepen')
              i.icon.icon-codepen(aria-hidden="true") 
              span.screen-reader Codepen
          li    
            a(href='https://www.github.com/jendowns', target='_blank', title='GitHub')
              i.icon.icon-github(aria-hidden="true") 
              span.screen-reader GitHub
    
    section#posts
      .container
        .flex-grid

          <?php include 'parts/part-article.php';?>

          article
            a(href='/wordpress-sidebar', target='_blank')
              h3 Creating a Sidebar of Categories and Posts in WordPress
            p
              small Posted on October 20, 2016
            p I wrote about using PHP to generate a side navigation menu, with categories as dropdown triggers and posts as dropdown list items.
            p
              a(href='/wordpress-sidebar', target='_blank') 
                | Read More &nbsp;
                i.icon.icon-open(aria-hidden="true") 
          article
            a(href='/unity-arcade-game', target='_blank')
              h3 2D Arcade Game in JavaScript with Unity 5
            p
              small Posted on April 1, 2016
            p 
              | Using the Unity 5 engine, I made a 2D arcade game. And it's written in JavaScript! (Well, Unity's flavor of JavaScript.) I wrote an article for 
              a.text-link(href="https://recompilermag.com/", target="_blank") The Recompiler  
              | about how I made this game.
            p
              a(href='/unity-arcade-game', target='_blank') 
                | Read More &nbsp;
                i.icon.icon-open(aria-hidden="true") 
    
    section#project
      .container
        .flex-grid
          .project__info
            h3 React + Express/Node.js App (WIP)
            p 
              a(href="http://www.cubcoders.com", target="_blank") CubCoders  
              | is a ReactJS web app I'm working on with 
              a(href="http://www.jessiedowns.com", target="_blank") my sister 
              | and 
              a(href="http://www.screenshovel.com", target="_blank") my boyfriend
              | .
            p We plan to launch the application with two lessons (led by two bear cubs, Indy &amp; Tessa) in mid February. 
          .project__window
            .window__wrapper
              .window__toolbar
                .window__button
                .window__button
                .window__button
              img(src="wp-content/themes/portfolio/images/cubcoders.png")
        .flex-grid
          .project__info
            h3 Artist Gallery
            p 
              | I designed &amp; developed a WordPress theme for 
              a(href="http://www.jessiedowns.com/", target="_blank") my sister's artist gallery
              | .
            p Using Advanced Custom Fields, I created a user-friendly way for her to add images to the homepage or individual posts, where they will stack in a fluid, responsive grid. 
          .project__window
            .window__wrapper
              .window__toolbar
                .window__button
                .window__button
                .window__button
              img(src="wp-content/themes/portfolio/images/jessie.png")
        .flex-grid
          .project__info
            h3 Dog Photo Gallery
            p 
              | I designed &amp; developed WordPress theme to  
              a(href="http://www.wearemammoth.com/") feature photos &amp; fun facts about my dogs
              | .
              p Creating this site was a fun way for me to experiment with a number of components, including a custom vanilla-JavaScript carousel, fade-in navigation bar, and a twinkle animations.
          .project__window
            .window__wrapper
              .window__toolbar
                .window__button
                .window__button
                .window__button
              img(src="wp-content/themes/portfolio/images/dogs.png")
        .flex-grid
          .project__info
            h3 Tech Blog
            p 
              | I developed a WordPress theme for   
              a(href="http://www.wearemammoth.com/") We Are Mammoth's tech blog
              | .
              p For this theme, I extended WordPress' out-of-the-box capabilities to allow posts to have co-authors. I also customized author archive pages so that co-authored posts will be indexed &amp; paginated properly.
          .project__window
            .window__wrapper
              .window__toolbar
                .window__button
                .window__button
                .window__button
              img(src="wp-content/themes/portfolio/images/wam.png")

    <?php get_footer(); ?> 

    