<?php get_header(); ?>

	<body <?php body_class(); ?>>

		nav
			.flex-grid
				ul
					li 
						a(href='/', title='Back Home')
							i.icon.icon-arrow-left(aria-hidden="true") 
							|  Back

		section
			.container
				p.date Posted on <?php echo get_the_date("F j, Y"); ?>
				h1 <?php the_title(); ?>
				<?php while (have_posts()) : the_post(); the_content(); endwhile; ?>


		<?php get_footer(); ?> 


